<div class="container">
  <div class="sub-footer">
    <div class="text-center">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            <button type="purchase" name="purchase" class="btn btn-primary btn-lg" required="required">{{ 'Enter your email'|t }}</button>
          </div>
          <div class="form-group">
            <button type="subscribe" name="subscribe" class="btn btn-primary btn-lg" required="required">{{ 'Subscribe Now'|t }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="social-icon">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <ul class="social-network">
        {% if facebook_url %}
          <li><a href="{{ facebook_url }}" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        {% endif %}
        <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        {% if google_plus_url  %}
          <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
        {% endif %}
        {% if  linkedin_link%}
          <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if youtube_link%}
          <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
        {% endif %}
        {% if drible_link %}
          <li><a href="#" class="dribbble tool-tip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
        {% endif %}
        {% if pinterest_link %}
          <li><a href="#" class="pinterest tool-tip" title="Pinterest"><i class="fa fa-pinterest-square"></i></a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</div>
{% if textfooter %}
  <div class="text-center">
    <div class="copyright">
      &copy; {{ textfooter }}
    </div>
  </div>
{% endif %}
