<ol class="carousel-indicators visible-xs">
{% for item in items %}
    {% set active='' %}
    {% if loop.first %}
        {% set active='active' %}
    {% endif %}
    <li data-target="#carousel-slider" data-slide-to="{{ loop.index }}" class="{{ active }}"></li>
{% endfor %}
</ol>

<div class="carousel-inner">
    {% for item in items %}
        {% set active='' %}
        {% if loop.first %}
            {% set active='active' %}
        {% endif %}
        <div class="item {{ active }}">
            {{ item.content }}
        </div>
    {% endfor %}
</div>