{% for item in items %}
    {% set type = "getnow" %}
    {% if loop.first %}
        {% set type = "livedemo" %}
    {% endif %}
    <div class="form-group">
        <button href="{{ item.content['#url'] }}" class="btn btn-primary btn-lg" type="{{ type }}">
            {{ item.content['#title'] }}
        </button>
    </div>
{% endfor %}
