{% for item in items %}
  {% if loop.index.3  %}
  <br>
  {% endif %}
    <figure class="effect-chico">
        <div class="col-md-3 wow fadeInUp animated" data-wow-offset="0" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <a class="flipLightBox-2" href="{{ file_url(item.link) }}">
                {{ item.content }}
            </a>
        </div>
    </figure>
{% endfor %}
