<div id="feature">
    <div class="container">
        <div class="row">
            <div class="text-center">
                {% if content.field_title_fo | render %}
                    <h3>{{ eck_entity.field_title_fo.value }}</h3>
                {% endif %}
                {% if content.field_subtitle | render %}
                    <p>{{ eck_entity.field_subtitle.value }}</p>
                {% endif %}
            </div>
            {% if content.field_features | render %}
                {{ content.field_features }}
            {% endif %}
        </div>
    </div>
</div>
