<div id="contact">
  <div class="container">
    <div class="text-center">
      {% if content.field_title_fo |render %}
        <h3>{{content.field_title_fo}}</h3>
      {% endif %}
      {% if content.field_subtitle|render %}
        <p>{{content.field_subtitle}}</p>
      {% endif %}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
        {% if content.field_contact_info_title |render %}
          <h2>{{content.field_contact_info_title}}</h2>
        {% endif %}
        {% if content.field_description |render %}
          {{ content.field_description }}
        {% endif %}
      </div>

      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
        <h2>Contact Info</h2>
        <ul>
          {% if content.field_address|render %}
            <li><i class="fa fa-home fa-2x"></i> {{content.field_address}}</li>
            <hr>
          {% endif %}
          {% if content.field_phone|render %}
            <li><i class="fa fa-phone fa-2x"></i> {{content.field_phone}}</li>
            <hr>
          {% endif %}
          {% if content.field_email|render%}
            <li><i class="fa fa-envelope fa-2x"></i>{{ content.field_email }}</li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validation"></div>
          </div>

          <button type="submit" class="btn btn-theme pull-left">SEND MESSAGE</button>
        </form>
      </div>
    </div>
  </div>
</div>
