{#
/**
 * @file
 * Default theme implementation to display an ECK entity.
 *
 * Available variables:
 * - eck_entity: The full ECK entity with limited access to object properties
 *   and methods. Only "getter" methods (method names starting with "get",
 *   "has", or "is") and a few common methods such as "id" and "label" are
 *   available. Calling other methods (such as node.delete) will result in an
 *   exception.
 * - content: All ECK entity items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_eck_entity()
 *
 * @ingroup themeable
 */
#}
<div class="col-md-{{ columns }} wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
  <div class="text-center">
    {% if image %}
      <img src="{{ image }}" class="{{image_style}}" alt="">
    {% endif %}
    {%  if content.content.field_title_fo|render %}
      <h2>{{ content.field_title_fo }}</h2>
    {% endif %}
    {% if content.field_subtitle|render %}
      <h4>{{ content.field_subtitle }}</h4>
    {% endif %}
    {% if content.field_description|render %}
      {{content.field_description}}
    {% endif %}
  </div>
</div>
