<div class="col-sm-{{ columns }} plan {{ button_color }} wow fadeInDown" data-wow-offset="0" data-wow-delay="0.2s">
  <ul>
    <li class="{{ background_color_price_item }}">
      {% if content.field_title_fo %}
        <h2>{{ content.field_title_fo }}</h2>
      {% endif %}
      {% if content.field_subtitle %}
        <span>{{ content.field_subtitle }}</span>
      {% endif %}
    </li>
    {% if content.field_specifications %}
      {{ content.field_specifications }}
    {% endif %}
    <li class="plan-action">
      <a href="{{ uri }}" class="btn btn-primary">{{ title_link }}</a>
    </li>
  </ul>
</div>
