{{ content.field_image }}
<div class="carousel-caption">
    {% if content.field_title_fo | render %}
        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
            <h2>
                <span>{{ eck_entity.field_title_fo.value }}</span>
            </h2>
        </div>
    {% endif %}
    {% if content.field_subtitle | render %}
        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
            <p>{{ eck_entity.field_subtitle.value }}</p>
        </div>
    {% endif %}
    {% if content.field_links | render %}
        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
            <form class="form-inline">
                {{ content.field_links }}
            </form>
        </div>
    {% endif %}
</div>
