<div class="col-md-3 wow fadeInRight animated" data-wow-offset="0" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
    <div class="text-center">
        <div class="hi-icon-wrap hi-icon-effect">
            {% if content.field_icon | render %}
                {{content.field_icon}}
            {% endif %}
            {% if content.field_title_fo | render %}
                <h2>{{content.field_title_fo}}</h2>
            {% endif %}
            {% if content.field_subtitle | render %}
                <p>{{content.field_subtitle}}</p>
            {% endif %}
        </div>
    </div>
</div>
