<div class="parallax-window" style="background-image:url('{{ image }}')">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      {% if content.field_title_fo | render %}
        <div class="wow bounceIn animated" data-wow-offset="0" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
          <h2>{{ eck_entity.field_title_fo.value }}</h2>
        </div>
      {% endif %}
      {% if content.field_description | render %}
        <div class="wow bounceIn animated" data-wow-offset="0" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
          {{ content.field_description }}
        </div>
      {% endif %}
    </div>
  </div>
  {% if content.field_links %}
    <div class="sub-parallax">
      <div class="text-center">
        <div class="col-md-12">
          <div class="wow bounceIn animated" data-wow-offset="0" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
            <a href="{{uri}}" class="btn btn-primary btn-lg">{{title_link}}</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
