{#
/**
 * @file
 * Default theme implementation to display an ECK entity.
 *
 * Available variables:
 * - eck_entity: The full ECK entity with limited access to object properties
 *   and methods. Only "getter" methods (method names starting with "get",
 *   "has", or "is") and a few common methods such as "id" and "label" are
 *   available. Calling other methods (such as node.delete) will result in an
 *   exception.
 * - content: All ECK entity items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_eck_entity()
 *
 * @ingroup themeable
 */
#}
<div id="pricing">
  <div class="container">
    <div class="text-center">
      {% if content.field_title_fo |render %}
        <h3>{{ content.field_title_fo }}</h3>
      {% endif %}
      {% if content.field_subtitle|render %}
        <p>{{ content.field_subtitle }}</p>
      {% endif %}
    </div>
    {% if content.field_pricing_item| render %}
    <div class="pricing-area text-center">
      <div class="row">
        {{ content.field_pricing_item }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
